

#root {
  background: rgb(81, 173, 185);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

button {
  background: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
